.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg.svg-logo-r {
    width: 70%;
    height: auto;
    margin-top: 25px;
    margin-left: -30px;
  }

  svg.svg-logo-s {
    width: 70%;
    height: auto;
    margin-top: -500px;
    margin-left: 250px;
  }

  .solid-logo-r {
    position: absolute;
    top: 25px;
    right: auto;
    bottom: auto;
    left: -30px;
    margin: auto;
    width: 70%;
    opacity: 0;
    z-index: 1;
  }

  .solid-logo-s {
    position: absolute;
    top: 40px;
    right: auto;
    bottom: auto;
    left: 250px;
    margin: auto;
    width: 70%;
    opacity: 0;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 20;
}
